@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #1A181E;
}

html {
  font-size: 50%;
  /* screens: {
    'sm': '640px',
    'md': '768px',
    'lg': '1024px',
    'xl': '1280px',
    '2xl': '1536px',
  } */
}

@media only screen and (min-width: 640px) {
  html{
    font-size: 62.5%;
  }
}

/* *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



body {
  box-sizing: border-box;
}

*/